$primary: #EE524E;
$secondary:#FAB131;

$link-color: $primary;

$line-height-base: 2;

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Noto+Sans:400,700');

body {
    font-family: 'Noto Sans';
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inconsolata';
    font-weight: 400;
}

h2, h3, h4, h4, h6 {
    color: $primary;
}

a {
    &:hover {
        color: $secondary;
        text-decoration: none;
    }
}

.sidebar a {
    color: white;

    &:hover {
        color: $secondary;
        text-decoration: none;
    }
}

.sidebar {
    @media (min-width: 768px) {
        position: fixed;
        height: 100%;
    }
}

#logo {
    border-bottom: 2px white dotted;
}

.menu-category {
    border-bottom: 2px $primary solid;
}

.nopadding {
    h2 {
        position: absolute;
        top: 10%;
        left: 10%;
        z-index: 10;
        background: white;
        padding: 10px;
    }

    padding: 0 !important;

    .carousel-inner > .carousel-item {
        height: 100vh;

        @media only screen and (max-width: 768px) {
            max-height: 350px;
        }
    }
      
    .carousel-inner > .carousel-item > img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: auto;
    }
 }
