backend:
  name: github
  repo: jandelmar/brnogo.cz
  branch: netlify-cms-test
# Media files will be stored in the repo under static/images/uploads
media_folder: static/images/uploads
 # The src attribute for uploaded media will begin with /images/uploads
public_folder: /images/uploads
collections:
  - name: jidlo
    label: Jídlo
    create: true
    folder: content/jidlo/
    identifier_field: cz-jidlo
    format: yml
    fields:
      - label: CZ
        name: cz
        widget: object
        fields:
          - { name: cz-jidlo, label: Jídlo, widget: string }
          - { name: cz-popis, label: Popis, widget: string }
          - { name: cz-kategorie, label: Kategorie, widget: string }
      - label: EN
        name: en
        widget: object
        fields:
          - { name: en-jidlo, label: Jídlo, widget: string }
          - { name: en-popis, label: Popis, widget: string }
          - { name: en-kategorie, label: Kategorie, widget: string }
      - { name: alergeny, label: Alergeny, widget: list, required: false }
      - { name: typ, label: Typ, widget: string, required: false }
      - { name: cena, label: Cena, widget: number, valueType: int }
